In [1]:
!curl -O https://code.s3.yandex.net/data-scientist/ds-plus-final.db

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 3504k    0 15742    0     0  69524      0  0:00:51 --:--:--  0:00:51 69964
 89 3504k   89 3150k    0     0  1810k      0  0:00:01  0:00:01 --:--:-- 1812k
100 3504k  100 3504k    0     0  2008k      0  0:00:01  0:00:01 --:--:-- 2010k

In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# Путь к файлу базы данных
path_to_db = 'ds-plus-final.db'

# Создание подключения к базе данных
engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

# Получение списка таблиц в базе данных
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", engine)
display(tables)

['contract', 'data_arc', 'data_bulk', 'data_bulk_time', 'data_gas', 'data_temp', 'data_wire', 'data_wire_time', 'internet', 'personal', 'phone']

In [6]:
# Загрузка данных из таблиц
query_contract = "SELECT * FROM contract"
query_personal = "SELECT * FROM personal"
query_internet = "SELECT * FROM internet"
query_phone = "SELECT * FROM phone"

df_contract = pd.read_sql(query_contract, engine)
df_personal = pd.read_sql(query_personal, engine)
df_internet = pd.read_sql(query_internet, engine)
df_phone = pd.read_sql(query_phone, engine)

              name
0         data_arc
1        data_bulk
2   data_bulk_time
3   data_wire_time
4         contract
5         personal
6            phone
7         internet
8         data_gas
9        data_temp
10       data_wire